{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyHomes</title>
  <link rel="stylesheet" href="{% static 'css/featured.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/starter.css' %}">
</head>
<body>

<!-- ===== NAVBAR ===== -->
<header class="navbar">
  <div class="container">
    <h1 class="logo">MyHomes</h1>
    <nav>
      <ul class="nav-links">
        <li><a href="{% url 'home' %}" class="active">Home</a></li>
        <li><a href="{%url 'blog'%}">Blogs</a></li>
        <li><a href="">Inquiry</a></li>
        <li><a href="{% url 'login' %}">Sign In</a></li>
      </ul>
    </nav>
  </div>
</header>

<main>
  {%block body%}

  {%endblock%}
  
</main>

</body>
</html>
